/* Toolbar */
.toolbar {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3b3b3b;
    color: white;
    padding: 10px 20px;
  }
  
  .toolbar img {
    height: 50px;
  }
  
  .share-user {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .user-profile {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 16px;
  }
  
  .user-profile img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid white;
  }